<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>身份证年龄计算</title>
</head>
<body>
<div style="text-align: center">
    <h1>获取身份证信息</h1>
    <input id="idNumber" placeholder="请输入身份证号码"/>
    <button onclick="getAge()">获取年龄</button>
    <button onclick="getProvince()">获取省出生地</button>
    <button onclick="getSex()">获取性别</button>
</div>
<script type="application/javascript">
    function getAge() {
        let idNumber = document.getElementById("idNumber").value
        window.document.location.href = getRootPath() + "/idCard/age/" + idNumber
    }

    function getProvince() {
        let idNumber = document.getElementById("idNumber").value
        window.document.location.href = getRootPath() + "/idCard/province/" + idNumber
    }

    function getSex() {
        let idNumber = document.getElementById("idNumber").value
        window.document.location.href = getRootPath() + "/idCard/sex/" + idNumber
    }

    //获取项目根路径
    function getRootPath() {
        let curWwwPath = window.document.location.href;
        let pathName = window.document.location.pathname;
        let pos = curWwwPath.indexOf(pathName);
        return pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
    }
</script>
</body>
</html>